.forgot-pin .container {
  margin-top: 0;
}

.forgot-pin {
  .form-box {
    margin-bottom: 10px;
  }

  .resend {
    margin: 19px 0px 19px 5px;
  }

  .footer {
    position: absolute;
  }

  @media only screen and (max-height: 700px) {
    .footer {
      margin-top: 20px;
      position: inherit;
    }
  }
}
